.fondo
{
    background-image: url(depositphotos_120226446-stock-illustration-pokemon-go-pokeball-seamless-texture.jpg);
    height: 100%;
    background-position: center;
    background-repeat: repeat;
    background-size: 100%;
}